:root {
  /** 
    FONT 
  */
  --font-sans-serif: sans-serif;
  --font-serif: 'Century Schoolbook', serif;
  --font-mono: monospace;

  --font-space-mono: 'Space Mono';
  --font-lora: 'Lora';

  --font-family-heading: var(--font-space-mono), var(--font-mono);
  --font-family-subheading: var(--font-lora), var(--font-serif);
  --font-family-body: var(--font-lora), var(--font-mono);
  --font-family-btn: var(--font-space-mono), var(--font-sans-serif);

  /** 
    COLOR 
  */

  --color-red: 255 0 0;
  --color-green: 0 255 0;
  --color-blue: 0 0 255;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-gray: 197 197 197;
  --color-gray-light: 241 241 241;
  --color-gray-dark: 159 159 159;

  --color-blue-material: 25 118 210;
  --color-blue-material-custom: 26 25 210;
  --color-blue-gradient: 95 178 254;

  --color-purple-material: 103 58 183;
  --color-purple-material-light: 131 75 255;
  --color-purple-material-dark: 101 31 255;
  --color-purple-material-custom: 94 25 210;
  --color-purple-light: 179 178 255;
  --color-purple-lighter: 207 206 255;
  --color-purple-gradient: 127 95 254;

  --color-white-primary: 255 255 255;
  --color-black-primary: 0 0 0;
  --color-blue-primary: var(--color-blue-material-custom);
  --color-purple-primary: var(--color-purple-material-custom);

  --color-primary: var(--color-hermes-orange);
  --color-secondary: var(--color-hermes-orange);
  --color-tertiary: var(--color-hermes-orange);

  /** 
    LAYOUT 
  */

  --max-width: 1440px;

  --gutter-outer-x: 24px;
  --gutter-outer-y: 40px;
  --navigation-height: 64px;
  --subheading-height: 24px;
  --announcement-height: 0px;

  @media screen(tab-sm) {
    --gutter-outer-x: 36px;
    --navigation-height: 64px;
  }
  @media screen(desk-sm) {
    --gutter-outer-x: 64px;
    --gutter-outer-y: 64px;
    --navigation-height: 80px;
  }
  @media screen(desk-lg) {
    --gutter-outer-x: 80px;
    --navigation-height: 96px;
  }
}
